In [15]:
# octal_converter

# In cell 1, convert the octal number 2323 to base 10
# (decimal) by looping, and display both numbers

import numpy as np


def binary_to_decimal(b_str):
    # Reverse string 'b' because the
    # LSB must be in first position
    b_str = b_str[::-1]
    sum = 0
    for position in range(len(b_str)):
        weight = pow(8, position)  # changed the number to the base number
        digit = int(b_str[position])
        sum += digit * weight
    return sum


b_str = "2323"
d = binary_to_decimal(b_str)
print(f"{b_str} in binary = {d:,} in decimal")

2323 in binary = 1,235 in decimal

In [16]:
# In cell 2, convert the decimal number you calculated in cell 1
# back to octal by looping, and display both numbers


def decimal_to_binary(d):
    b_str = ""
    while d > 0:
        b_str += str(d % 8)  # changed the number to the base number
        d = int(d / 8)  # changed the number to the base number
    # Reverse string 'b' because the
    # LSB must be in first position
    b_str = b_str[::-1]
    return b_str


d = 1235
b_str = decimal_to_binary(d)
print(f"{d:,} in decimal = {b_str} in binary")

1,235 in decimal = 2323 in binary

In [17]:
# In cell 3, convert the octal number 2323 to
# base 10 (decimal) without looping and display both numbers


b_str = "2323"
d = int(b_str, 8)  # changed the number to the base number
print(f"{b_str} in binary = {d:,} in decimal")

2323 in binary = 1,235 in decimal

In [18]:
# In cell 4, convert the decimal number you calculated in cell 3
# back to octal without looping and display both numbers


d = 1235
b_str = np.base_repr(d, base=8)  # changed the number to the base number
print(f"{d:,} in decimal = {b_str} in binary")

1,235 in decimal = 2323 in binary